 <!-- Social links -->
 <div class="sticky-icon-bar">
    <a href="#" class="codepen"><i class="fab fa-facebook"></i></a> 
    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a> 
    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a> 
    <a href="#" class="youtube"><i class="fab fa-youtube"></i></a> 
  </div>
  <div class="sticky-icon-bar">
    <a href="#" class="codepen"><i class="fab fa-facebook"></i></a> 
    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a> 
    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a> 
    <a href="#" class="youtube"><i class="fab fa-youtube"></i></a> 
  </div>
      <!-- script --> 
        <script type="text/javascript" src="script/menu.js"></script>