<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>inversal || <%=title%></title>
  <!--library-->
  <%-include('./inc/lib.ejs')%>
    <!--style-->
    <link rel="stylesheet" type="text/css" href="style/menu.css">
    <link rel="stylesheet" href="style/contact.css" />
    <link rel="stylesheet" type="text/css" href="style/index.css">
    <link rel="stylesheet" type="text/css" href="style/social.css">
    <style type="text/css">
      body{
        background: #0d0812;
      }
    </style>
</head>
<body class="hero-anime">

  <div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav  class="navbar navbar-expand-md navbar-light">
          
            <a class="navbar-brand" href="index.html" target="_blank"><img class="logo_img" src="https://thumbs.dreamstime.com/b/baku-azerbaijan-outline-icon-caption-city-logo-landmark-vector-symbol-flame-towers-illustration-isolated-white-158338586.jpg" alt=""></a>  
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="lightpaper.html">Lightpaper</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="nft.html">NFT</a>
                </li>
         
                 <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="hero.html">Hero</a>
                </li>
                   <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="staking.html">Staking</a>
                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="news.html">News</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="team.html">Team</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Land sale</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="land.html">Land info</a>
                    <a class="dropdown-item" href="map.html">Map</a>
                  </div>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link" href="contact.html">Partner with us</a>
                </li>
              </ul>
            </div>
            
          </nav>    
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
    <!--contact body-->

		<section id="contact" class="add-padding border-top-color2">
		
			<div class="container text-center">
				
				<div class="row">
				
					<div class="col-sm-6 col-md-5 text-right scrollimation fade-up d1">
					
						<h1 class="big-text">Contact us for commercial partnership opportunities</h1>
						
						<p class="lead">Everdome is creating the most hyper-realistic metaverse in existence. A place where both brands and users will come together, evolving over time to propel society into a normative digital existence where equality, innovation, human nature's good aspects, and quality, will all be drivers of this new frontier.</p>

						<p>
In order to achieve our vision partnering with like-minded brands, organizations, communities, and individuals will be a paramount element of our combined success.

If you share in our vision we invite you to drop us a line and let's discuss how we can build the future together.</p>
					
					</div>
				
					<!--=== Contact Form ===-->

					<form id="contact-form" class="col-sm-6 col-md-offset-1 scrollimation fade-left d3" action="contact.php" method="post" novalidate>
						
						<div class="form-group">
						  <label class="control-label" for="contact-name">Name</label>
						  <div class="controls">
							<input id="contact-name" name="contactName" placeholder="Your name" class="form-control requiredField" data-new-placeholder="Your name" type="text" data-error-empty="Please enter your name">
							<i class="fa fa-user"></i>
						  </div>
						</div><!-- End name input -->
						
						<div class="form-group">
						  <label class="control-label" for="contact-mail">Email</label>
						  <div class=" controls">
							<input id="contact-mail" name="email" placeholder="Your email" class="form-control requiredField" data-new-placeholder="Your email" type="email" data-error-empty="Please enter your email" data-error-invalid="Invalid email address">
							<i class="fa fa-envelope"></i>
						  </div>
						</div><!-- End email input -->
						
						<div class="form-group">
						  <label class="control-label" for="contact-message">Message</label>
							<div class="controls">
								<textarea id="contact-message" name="comments"  placeholder="Your message" class="form-control requiredField" data-new-placeholder="Your message" rows="6" data-error-empty="Please enter your message"></textarea>
								<i class="fa fa-comment"></i>
							</div>
						</div><!-- End textarea -->
						
						<p><button name="submit" type="submit" class="btn btn-color2 btn-block" data-error-message="Error!" style="background: #f63c8d; border-radius: 5px;" data-sending-message="Sending..." data-ok-message="Message Sent"><i class="fa fa-paper-plane"></i>Send Message</button></p>
						<input type="hidden" name="submitted" id="submitted" value="true" />
						
					</form><!-- End contact-form -->
					
				</div>
				
			</div>
		
		</section>
    <%-include('./inc/social.ejs')%>
      <script type="text/javascript" src="script/contact.js"></script>
</body>
</html>