<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <%-include('./inc/lib.ejs')%>
	<!-- style -->
	<link rel="stylesheet" type="text/css" href="style/lightpaper.css">
	<link rel="stylesheet" type="text/css" href="style/menu.css">
  <link rel="stylesheet" type="text/css" href="style/social.css">
	<link rel="stylesheet" type="text/css" href="style/index.css">
	<title>inversal || <%=title%></title>
</head>
<body class="hero-anime">

  <div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
          
            <a class="navbar-brand" href="index.html" target="_blank"><img src="https://thumbs.dreamstime.com/b/baku-azerbaijan-outline-icon-caption-city-logo-landmark-vector-symbol-flame-towers-illustration-isolated-white-158338586.jpg" alt=""></a>  
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link" href="lightpaper.html">Lightpaper</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="nft.html">NFT</a>
                </li>
             
                 <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="hero.html">Hero</a>
                </li>
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="staking.html">Staking</a>
                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="news.html">News</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="team.html">Team</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Land sale</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="land.html">Land info</a>
                    <a class="dropdown-item" href="map.html">Map</a>
                  </div>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="contact.html">Partner with us</a>
                </li>
              </ul>
            </div>
            
          </nav>    
        </div>
      </div>
    </div>
  </div>

	<!-- about body -->
<div class='post-body' id='animated-thumbnail'>
  <h1>Cara Meningkatkan Loading Blog dengan LazySizes</h1>
<div class="post-content content_1">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<div class="separator" style="clear: both; text-align: center;">
<a data-fancybox="images" href="https://2.bp.blogspot.com/-93lIHqW_YKM/XC70vRtpZSI/AAAAAAAAPQE/AOyXI7G9GU0C_XEmCgEYFmAzCuUZhCeFACLcBGAs/s1600/For%2Ba%2Bminute%2Bshe%2Bstood%2Blooking%2Bat%2Bthe%2Bhouse.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img class="lazyload" border="0" src="https://2.bp.blogspot.com/-93lIHqW_YKM/XC70vRtpZSI/AAAAAAAAPQE/AOyXI7G9GU0C_XEmCgEYFmAzCuUZhCeFACLcBGAs/s1600/For%2Ba%2Bminute%2Bshe%2Bstood%2Blooking%2Bat%2Bthe%2Bhouse.jpg" width="640" height="367" data-original-width="1000" data-original-height="574" /></a></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<div class="separator" style="clear: both; text-align: center;">
<a href="https://2.bp.blogspot.com/-IAIGLG9yemg/XC70v8bxsBI/AAAAAAAAPQI/aJDJvds7tY4SaZJKVD3MOt15_XkfxFLwACLcBGAs/s1600/I%2Bsat%2Bdown%2Band%2Bthinking.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img class="lazyload" border="0" src="https://2.bp.blogspot.com/-IAIGLG9yemg/XC70v8bxsBI/AAAAAAAAPQI/aJDJvds7tY4SaZJKVD3MOt15_XkfxFLwACLcBGAs/s1600/I%2Bsat%2Bdown%2Band%2Bthinking.jpg" width="640" height="454" data-original-width="1000" data-original-height="709" /></a></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<div class="separator" style="clear: both; text-align: center;">
<a href="https://2.bp.blogspot.com/-96-6W4MQBwk/XC70wlMaAeI/AAAAAAAAPQQ/Tt_ax6ONSY49DdxwV9e7yEwCqA73cF-XQCLcBGAs/s1600/Jane%2BSnow%2BInvites%2BFans%2Bto%2BSing.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img class="lazyload" border="0" src="https://2.bp.blogspot.com/-96-6W4MQBwk/XC70wlMaAeI/AAAAAAAAPQQ/Tt_ax6ONSY49DdxwV9e7yEwCqA73cF-XQCLcBGAs/s1600/Jane%2BSnow%2BInvites%2BFans%2Bto%2BSing.jpg" width="640" height="400" data-original-width="1600" data-original-height="1000" /></a></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<div class="separator" style="clear: both; text-align: center;">
<a href="https://2.bp.blogspot.com/-sz-X9tvIawo/XC70ytM0zgI/AAAAAAAAPQU/fqhQvpPWqPIDRpCQMxvDUdZa1m0Th5sEQCLcBGAs/s1600/My%2Beffort%2Bwas%2Bcrowned%2Bwith%2Ba%2Bsuccess.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img class="lazyload" border="0" src="https://2.bp.blogspot.com/-sz-X9tvIawo/XC70ytM0zgI/AAAAAAAAPQU/fqhQvpPWqPIDRpCQMxvDUdZa1m0Th5sEQCLcBGAs/s1600/My%2Beffort%2Bwas%2Bcrowned%2Bwith%2Ba%2Bsuccess.jpg" width="640" height="427" data-original-width="1600" data-original-height="1067" /></a></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<div class="separator" style="clear: both; text-align: center;">
<a href="https://2.bp.blogspot.com/-Wnlfy2sv3_8/XC70zRWaCJI/AAAAAAAAPQc/GfzJbQQr10MpivKrPnxYZ6c01qRv33uLQCLcBGAs/s1600/New%2Badventure%2Bexperience.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img class="lazyload" border="0" src="https://2.bp.blogspot.com/-Wnlfy2sv3_8/XC70zRWaCJI/AAAAAAAAPQc/GfzJbQQr10MpivKrPnxYZ6c01qRv33uLQCLcBGAs/s1600/New%2Badventure%2Bexperience.jpg" width="640" height="427" data-original-width="1280" data-original-height="853" /></a></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<div class="separator" style="clear: both; text-align: center;">
<a href="https://3.bp.blogspot.com/-s1fsaJvbLjI/XC70zEcR6VI/AAAAAAAAPQY/WgKDR9GnCZoQYTkrmRPnKci9akVawnylQCLcBGAs/s1600/Runs%2Bfast%2Btowards%2Bthe%2BMaybury%2BHill.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img class="lazyload" border="0" src="https://3.bp.blogspot.com/-s1fsaJvbLjI/XC70zEcR6VI/AAAAAAAAPQY/WgKDR9GnCZoQYTkrmRPnKci9akVawnylQCLcBGAs/s1600/Runs%2Bfast%2Btowards%2Bthe%2BMaybury%2BHill.jpg" width="640" height="400" data-original-width="1600" data-original-height="1000" /></a></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<div class="separator" style="clear: both; text-align: center;">
<a href="https://3.bp.blogspot.com/-ojo7rUMf2bA/XC70zYGMIPI/AAAAAAAAPQg/ZOa0SfL5gaEMUchv3BR9BBSSfWTImwrEgCLcBGAs/s1600/Some%2Bof%2Bthe%2BMost%2BBeautiful%2BDay%2BHikes.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img class="lazyload" border="0" src="https://3.bp.blogspot.com/-ojo7rUMf2bA/XC70zYGMIPI/AAAAAAAAPQg/ZOa0SfL5gaEMUchv3BR9BBSSfWTImwrEgCLcBGAs/s1600/Some%2Bof%2Bthe%2BMost%2BBeautiful%2BDay%2BHikes.jpg" width="640" height="426" data-original-width="1100" data-original-height="733" /></a></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<div class="separator" style="clear: both; text-align: center;">
<a href="https://3.bp.blogspot.com/-3UeEiZfhm6I/XC700F3cKaI/AAAAAAAAPQk/_NrFFJcCXwspCB07j-dHfPMVLfi8JM47QCLcBGAs/s1600/Thousands%2Bof%2Bmiles%2Bfrom%2BOregon.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img class="lazyload" border="0" src="https://3.bp.blogspot.com/-3UeEiZfhm6I/XC700F3cKaI/AAAAAAAAPQk/_NrFFJcCXwspCB07j-dHfPMVLfi8JM47QCLcBGAs/s1600/Thousands%2Bof%2Bmiles%2Bfrom%2BOregon.jpg" width="640" height="400" data-original-width="1280" data-original-height="800" /></a></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus, tortor sit amet rhoncus lobortis, leo libero suscipit justo, ac tincidunt ligula eros sit amet sem. Sed lobortis nisl sed diam porttitor, quis lacinia felis lacinia. In urna nulla, consectetur nec nisi vitae, laoreet pellentesque augue. Donec feugiat, velit eu imperdiet semper, ante sem suscipit nulla, congue suscipit ipsum tellus commodo ipsum. Sed pharetra orci a volutpat faucibus.</p>
</br>
</div>
</div>
<%-include('./inc/social.ejs')%>
<script type="text/javascript" src="script/about.js"></script>
</body>
</html>