<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>inversal || <%=title%></title>
  <!--library--> 
  <%-include('./inc/lib.ejs')%>
    <!--style-->
    <link rel="stylesheet" type="text/css" href="style/social.css">
    <link rel="stylesheet" type="text/css" href="style/menu.css">
    <link rel="stylesheet" href="./build/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="style/index.css">
</head>
<body class="hero-anime">

  <div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav  class="navbar navbar-expand-md navbar-light">
          
            <a class="navbar-brand" href="index.html" target="_blank"><img class="logo_img" src="https://thumbs.dreamstime.com/b/baku-azerbaijan-outline-icon-caption-city-logo-landmark-vector-symbol-flame-towers-illustration-isolated-white-158338586.jpg" alt=""></a>  
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="lightpaper.html">Lightpaper</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link" href="nft.html">NFT</a>
                </li>
                 <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="hero.html">Hero</a>
                </li>
                  <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="staking.html">Staking</a>
                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="news.html">News</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="team.html">Team</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Land sale</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="land.html">Land info</a>
                    <a class="dropdown-item" href="map.html">Map</a>
                  </div>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="contact.html">Partner with us</a>
                </li>
              </ul>
            </div>
            
          </nav>    
        </div>
      </div>
    </div>
  </div>
<!-- body -->
<%-include('./inc/social.ejs')%>
</body>
</html>